.bg-footer {
    /* background-color: #33383c; */
    margin-top: 5%;
    padding: 50px 0 30px;
    /* display: flex; */
}
.footer-heading {
    letter-spacing: 2px;
}

.footer-link a {
    color: black;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}

.footer-link a:hover {
    color: #1bbc9b;
}

.contact-info {
    color: black;
    font-size: 14px;
}

.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.facebook {
    background-color: #4e71a8;
    color: #ffffff;
}

.twitter {
    background-color: #55acee;
    color: #ffffff;
}

.google {
    background-color: #d6492f;
    color: #ffffff;
}

.apple {
    background-color: #424041;
    color: #ffffff;
}

.footer-alt {
    color: black;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
}

.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid #1bbc9b;
}

#calcu{
    margin-left: 4%;
}
.row{
    /* border: 1px solid red; */
    margin: auto;
}
.text-dark{
    font-size: larger;
    font-weight: bolder;
}

/* Default styles for larger screens (desktop) */
.container_futter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
}

.col-lg-3 {
    flex-basis: calc(25% - 15px); /* Adjust column width as needed */
    margin-bottom: 20px;
}

#calcu {
    margin-left: 4%;
}

/* Responsive styles for tablets (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .container_futter {
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* flex-wrap: nowrap; */
    }
    .col-lg-3 {
        flex-basis: calc(33.33% - 15px); /* Adjust column width for tablets */
    }
    .col-lg-3 {
        flex-basis: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    #calcu {
        margin-left: 0;
    }
}

/* Responsive styles for mobile devices (less than 768px) */
@media (max-width: 767px) {
    .container_futter {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .col-lg-3 {
        flex-basis: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    #calcu {
        margin-left: 0;
    }
}
