body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#topdiv {
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 3%;
    background-color: #e3ebf0;
    padding: 2% 3%;
    justify-content: space-around;
}

#topdiv img {
    width: 70%;
    margin-top: 40px;
}

#topdiv div {
    width: 50%;
}

#topdiv button {
    padding: 3%;
    margin: 20px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 600;

    /* background-color: transparent; */
}

#topdiv>:nth-child(1) {
    margin-right: 80px;
}

#topdiv h2 {
    font-size: 48px;
    font-weight: 700;
}

#topdiv p {
    font-size: 20px;
    line-height: 34px;
    color: #131A1D;
}

#gr {
    background-color: #24e0a4;
    border: 0px;
}

#tr {
    background-color: transparent;
    border: 1px solid black;
}

.split input {
    width: 70%;
}

.slider {
    -webkit-appearance: none;
    /* width: 100%; */
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#calc {
    padding: 1% 2%;
    border: 0;
    background-color: #04AA6D;
    border-radius: 5px;
    color: white;
    margin: 10px 100px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.split {
    display: flex;
    padding: 0 3%;
    align-items: center;
    justify-content: space-between;
    /* width: 20%; */
    font-size: 18px;
    font-weight: 600;
}

#middle {
    width: 70%;
    margin: 3% auto;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
}

#divide>div {
    background-color: #e3ebf0;
    padding: 2%;
}


.container {
    width: 50%;
    margin: 15px auto;
}


/* sliding section  */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}



.slider_section {
    position: relative;
    width: 100%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgb(255, 255, 255);
    margin-top: 100px;

}

.tab_header {
    width: 100%;
    height: auto;
    background-color: #24e0a4;
    padding: 2.5rem;
    display: flex;
    text-align: center;

    justify-content: center;
}

.tab_container {
    position: relative;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;
}

.slider_section li {
    width: 24%;
    height: auto;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.8rem 0;
    list-style: none;
    text-align: center;
    cursor: pointer;
}

.moving_border {
    position: absolute;
    width: 20%;
    height: 0.15rem;
    background: rgb(23, 23, 23);
    bottom: -2%;
    left: 0;
    border-radius: 1rem;
    transition: transform 0.5s cubic-bezier(1, 0.55, 0.565, 1.2);
}

.slider_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgb(241, 241, 241);
    overflow: hidden;
}

.slider_container .moving_container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 1.2s cubic-bezier(1, 0.45, 0.565, 1);
    will-change: transform;

}

.slider_container .slider_item {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 50px;
    justify-content: space-between;

}

.slider_container .slider_item .content {
    width: 50%;
    padding-right: 40px;

}

.slider_container .slider_item .content h1 {
    margin-bottom: 40px;

}

.slider_container .slider_item .content p {
    margin-bottom: 40px;
    line-height: 30px;

}

.slider_container .slider_item .image {
    width: 40%;
}

.slider_container .slider_item .image img {
    width: 100%;
    height: 100%;
}


.slider_item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

}

.center_tab_preview {
    position: absolute;
    width: 30rem;
    height: 7rem;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    background: rgba(201, 201, 201, 0.23);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 10;
}

.center_tab_preview .text_moving_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 1.3s cubic-bezier(1, 0.45, 0.565, 1);
    will-change: transform;

}

.center_tab_preview span {
    width: 100%;
    min-height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: white;
    font-weight: 700;
}